
/*Marcos*/
main{
    background-color: #fff8ef;
}
.bodi{
    background-color: #fff8ef;
}
.nave{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    background-color: #fff8ef;
    margin-right: 90px;
}
#hs{
    color:#920404;
}
.logo {
    width: 150px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #fff8ef;
    height: 500px;
    
}
#bot{
    margin-left: 0px;
    border-radius: 15px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;  
    padding-bottom: 5px;
    background-color: #b94040;
    border-color: #b94040;
    font-size: 30px;
}
#log {
    margin-left: 40px;
    font-size: 50px;
}
.formss {
    border: solid 2px #b47474;
    border-radius: 10px;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #b47474;
}
#links{
    color: black;
}
#back {
    font-size: 30px;
}

.ck {
    font-size: 20px;
}
#gif {
    width: 150px;
    border-radius: 50px;
    opacity:0.7;
}
/*Home Marcos*/
.material-icons{
    cursor: pointer;
    
}
.navs {
    justify-content: space-around;
    display: flex;
    border: solid 1px #b47474;
    background-color: #b47474;
    color: black;
    padding: 10px;
}
#lk {
    text-decoration: none;
    color: black;
}
body {
    background-color: #fff8ef;
    gap: 0%;
    margin: 0%;
}
.trem {
    width: 500px;
    margin-top: 340px;
}
.bem {
    display:flex;
    text-align: center;
    align-items: center;
}
#bvd {
    margin-left: 13%;
    font-size: 100px;
    border: solid 1px #920404;
    background-color: #920404;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:#fff8ef;
}
/*sensores Marcos*/
.dash {
    font-size: 25px;
    background-color: #b47474;
    border-radius: 20px;
    padding-bottom: 765px;
}
#icon {
    width: 40px;
    height: 40px;
    margin-left: 165px;
}
.bmv{
    background-color: #fff8ef;
    border-radius: 5px;
    margin: 10px;
}
.flex {
    display: flex;
}
.dsh {
    background-color: #fff8ef;
    border-radius: 50px;
}
.dsh5 {
    background-color:#ec8888 ;
    border-radius: 50px;
}








/*Ramon*/

/* CSS reutilizado de marcos*/

.formsss {
    border: solid 2px #b47474;
    border-radius: 10px;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #b47474;
    
}


.config {
    margin-left: 30px;

}



















/*Davi*/